{% extends 'admin_panel/base_admin_panel.html' %}
{% load staticfiles %}

{% block title %} - {{ domain }}{{ link }}{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include 'admin_panel/nav/panel-sidebar-navigation.html' %}

        <div class="main-panel">
            {% include 'admin_panel/nav/panel-top-navigation.html' %}

            <div class="content">
                <div class="container-fluid">
                    {% include 'admin_panel/layout/message.html' %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Edit link {{ link }} in domain {{ domain }}</h4>
                                </div>
                                <div class="content">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <table>
                                            {{ form }}
                                        </table>
                                        <hr />
                                        <button type="submit" class="btn btn-info btn-fill">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Scan results</h4>
                                </div>
                                <div style="margin: 20px 10px;" class="panel {{ title_class }}">
                                    <div class="panel-heading">Title</div>
                                    <div class="panel-body">
                                        {{ scan.title }}
                                    </div>
                                </div>
                                <div style="margin: 20px 10px;" class="panel {{ description_class }}">
                                    <div class="panel-heading">Description</div>
                                    <div class="panel-body">
                                        {{ scan.description }}
                                    </div>
                                </div>
                                <div style="margin: 20px 10px;" class="panel {{ h1_class }}">
                                    <div class="panel-heading">H1</div>
                                    <div class="panel-body">
                                        {{ scan.h1 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {% include 'admin_panel/layout/content_footer.html' %}
        </div>
    </div>
{% endblock %}
